<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <app-spinner *ngIf="loading && !productDetail"></app-spinner>
            <div class="card" *ngIf="!loading && productDetail">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center"> <i class="fa fa-long-arrow-left"></i> <span class="ml-1"><a [routerLink]="['/products']">Back</a></span> </div> <i class="fa fa-shopping-cart text-muted"></i>
                            </div>
                            <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Orianz</span>
                                <h5 class="text-uppercase">{{productDetail.name}}</h5>
                                <div class="price d-flex flex-row align-items-center"> 
                                    <span class="act-price">{{productDetail.price | currency:'$'}}</span>
                                </div>
                            </div>
                            <p class="about" *ngIf="productDetail.description">{{productDetail.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
